[submodule "lib/Housings_SSOP.pretty"]
	path = lib/Housings_SSOP.pretty
	url = https://github.com/KiCad/Housings_SSOP.pretty
[submodule "lib/kicad-lib"]
	path = lib/kicad-lib
	url = https://github.com/mcous/kicad-lib
[submodule "lib/kicad-pcblib"]
	path = lib/kicad-pcblib
	url = https://github.com/cpavlina/kicad-pcblib
[submodule "lib/kicad-schlib"]
	path = lib/kicad-schlib
	url = https://github.com/cpavlina/kicad-schlib
[submodule "lib/kicad-libraries"]
	path = lib/kicad-libraries
	url = https://github.com/Tinkerforge/kicad-libraries
[submodule "lib/Open-Source-Hardware-Logos-for-Kicad"]
	path = lib/Open-Source-Hardware-Logos-for-Kicad
	url = https://github.com/wayneandlayne/Open-Source-Hardware-Logos-for-Kicad
